@{
    var userPrivilege = (IEnumerable<Requisition.Models.V_SYS_USER_ROLE_PRIVILEGE>)ViewBag.userPrivilege;
    var P01 = userPrivilege.Any(l => l.SYS_Status == "P01" && l.RightCode == "RC00");
    var P02 = userPrivilege.Any(l => l.SYS_Status == "P02" && l.RightCode == "RCA1");
    var P03 = userPrivilege.Any(l => l.SYS_Status == "P03" && l.RightCode == "RCA2");
    var P04 = userPrivilege.Any(l => l.SYS_Status == "P04" && l.RightCode == "RCA3");
    var P05 = userPrivilege.Any(l => l.SYS_Status == "P05" && l.RightCode == "RC00");

    var F01 = userPrivilege.Any(l => l.SYS_Status == "F01" && l.RightCode == "RC00");




    var numberP01 = ViewBag.numberP01;
    var numberP02 = ViewBag.numberP02;
    var numberP03 = ViewBag.numberP03;
    var numberP04 = ViewBag.numberP04;
    var numberF02 = ViewBag.numberF02;
}

<div class="container-xl mt-4">
    <div class="row g-4">
        <!-- เมนูโปรแกรม -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ti ti-list-details me-1"></i>
                        เมนูขอใช้รถยนต์
                    </h3>
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush">

                        <a asp-controller="VehicleRequest" asp-action="index" class="list-group-item list-group-item-action">
                            <i class="ti ti-car text-primary"></i>
                            <span class="position-relative text-primary">
                                รายการดำเนินการ
                                <span class="badge text-bg-danger ms-2">9</span>
                            </span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="ti ti-car text-primary"></i>
                            <span class="position-relative text-primary">
                                รายการอนุมัติ
                                <span class="badge text-bg-danger ms-2">9</span>
                            </span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="ti ti-car text-primary"></i>
                            <span class="position-relative text-primary">
                                เจ้าหน้าที่ตรวจสอบ
                                <span class="badge text-bg-danger ms-2">9</span>
                            </span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action disabled">
                            <i class="ti ti-car text-primary text-primary"></i>
                            <span class="position-relative">
                                รายการเสร็จสิ้น
                                <span class="badge text-bg-danger ms-2">9</span>
                            </span>
                        </a>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    <!-- ถ้ามี JavaScript เพิ่มเติมสามารถใส่ได้ที่นี่ -->
}
